#wrapper {
    padding:0px;
    margin:0px;
    padding-left: 250px;
}

.sidebar {
    margin-top:0px;
    margin-left: -250px;
    left: 250px;
    width: 250px;
    background: #eee;
    position: fixed;
    overflow-y: auto;
    z-index: 1000;
}

.page-content {
    width: 100%;
    padding-left:0px;
    max-width:1280px
}

#sidebar-open {
    float:left;
    margin-right:10px;
}

#sidebar-close {
    float:right; 
    cursor:pointer; 
    padding:10px;
}

/*------------*/
#grouplist {
    background-color: #f3f3f3;
}

.group {
    padding:15px;
    cursor:pointer;
}

.group:hover {
    background-color: #f8f8f8;
}

.group:active, .activated {
    background-color: #fcfcfc;
}

.userstitle {
    font-size:22px;
    font-weight:bold;
    padding:5px;
}

#groupdescription {
    padding:5px;
}

#addmember, #createuseraddtogroup, #editgroup, #deletegroup, #create-inputs-feeds {
    display:none;
    float:right;
    cursor:pointer;
    margin-left: 20px
}

#groupcreate {
    padding:15px;
    cursor:pointer;
}

#groupcreate:hover {
    background-color: #fafafa;
}
.afeed {
    color:#00aa00;
    font-weight:bold;
}

.nafeed {
    color:#aa0000;
    font-weight:bold;
}

#previous_user{
    display:none;
}

input:disabled+span{
    opacity: 0.4;
}

#userlist-table th.userlistactions{
    padding:0;
    width:20px;
}

#userlist-div{  
    font-weight:normal;
    padding:10px;
    cursor:pointer;
}

#userlist-div .user-info{
    font-weight:normal;
    cursor:pointer;
    padding:10px; 
}



.user{
    border-top: 1px solid #ccc;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    background-color:white;
}

.user:last-child {
    border-bottom: 1px solid #ccc;
}

.user-feedslist{
    padding:5px;
}

.user-feedslist-inner{
    background-color:#f3f3f3; 
}

.feed{
    padding:10px;
    border-top: 1px solid #ccc;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
}

.feed:last-child {
    border-bottom: 1px solid #ccc;
}

.feed:hover{ border-left:2px solid #44b3e2; }

.feed-value, .feed-time, .feed-download{
    width:60px;
    padding-top:0px;
    float:right;
    text-align:center;
}

.feed input {
    width:20px;
    padding: 10px;
    display:inline-block;
    text-align:center;
}

.feed .feed-name {
    display:inline-block;
    padding-left:10px
}

.user-name, .user-role, .user-active-feeds{
    width:30%;
    display:inline-block;
    box-sizing:border-box
}

.user-actions{
    width:8%;
    display:inline-block;
    text-align:right;
    box-sizing:border-box
}

.table-headers{
    font-weight: bold;
    padding:5px 5px 0;
    line-height:12px
}

.table-headers .user-name{
    padding-left:10px;
}