#wrapper {
    padding:0px;
    margin:0px;
    padding-left: 250px;
}

.sidebar {
    margin-top:0px;
    margin-left: -250px;
    left: 250px;
    width: 250px;
    background: #eee;
    position: fixed;
    overflow-y: auto;
    z-index: 1000;
}

.page-content {
    width: 100%;
    padding-left:0px;
    max-width:1280px
}

#sidebar-open {
    float:left;
    margin-right:10px;
}

#sidebar-close {
    float:right; 
    cursor:pointer; 
    padding:10px;
}

/*------------*/
#grouplist {
    background-color: #f3f3f3;
}

.group {
    padding:15px;
    cursor:pointer;
}

.group:hover {
    background-color: #f8f8f8;
}

.group:active, .activated {
    background-color: #fcfcfc;
}

.userstitle {
    font-size:22px;
    font-weight:bold;
    padding:5px;
}

#groupdescription {
    padding:5px;
}

#addmember, #createuseraddtogroup, #editgroup, #deletegroup, #create-inputs-feeds {
    display:none;
    float:right;
    cursor:pointer;
    margin-left: 20px
}

#groupcreate {
    padding:15px;
    cursor:pointer;
}

#groupcreate:hover {
    background-color: #fafafa;
}
.afeed {
    color:#00aa00;
    font-weight:bold;
}

.nafeed {
    color:#aa0000;
    font-weight:bold;
}

#previous_user{
    display:none;
}

input:disabled+span{
    opacity: 0.4;
}

#userlist-table th.userlistactions{
    padding:0;
    width:20px;
}

#userlist-div{  
    font-weight:normal;
    padding:10px;
    cursor:pointer;
}

#userlist-div .user-info{
    font-weight:normal;
    cursor:pointer;
    padding:10px 10px 0; 
}



.user{
    border-top: 1px solid #ccc;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    background-color:white;
}

.user:last-child {
    border-bottom: 1px solid #ccc;
}

.user-feedslist{
    padding:5px;
}

.user-tasks{
    padding:0 5px 5px;
    margin-top:-5px;
}


.feed, .task{
    padding:10px;
    border-top: 1px solid #ccc;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
}

.feed:last-child, .task:last-child  {
    border-bottom: 1px solid #ccc;
}

.feed:hover, .task:hover{ border-left:2px solid #44b3e2; }

.feed-value, .feed-time, .feed-download {
    width:60px;
    padding-top:0px;
    float:right;
    text-align:center;
}

.feed input {
    width:20px;
    padding: 10px;
    display:inline-block;
    text-align:center;
}

.feed .feed-name, .task .task-name {
    display:inline-block;
    padding-left:10px
}

.user-name, .user-role, .user-active-feeds{
    width:27%;
    display:inline-block;
    box-sizing:border-box
}
.multiple-feeds-actions{
    width:15%;
    text-align: right;
    display:inline-block;
    box-sizing:border-box
}

.user-actions{
    width:16%;
    display:inline-block;
    text-align:right;
    box-sizing:border-box
}

.table-headers{
    font-weight: bold;
    padding:5px 5px 0;
    line-height:12px
}

.table-headers .user-name{
    padding-left:10px;
}

.user-actions i{
    padding-left:5px;
}

.matched-tag:hover{
    background-color:#f2f2f2;
}

#edit-user-tags-wrapper{
    position:relative;
}

#edit-user-matching-tags{
    position:absolute;
    background-color:#fcfcfc;
    padding:5px 15px;
    border: solid #ddd 1px;
    border-radius:5px;
    left:41px;
    top:30px;
    z-index:1;
}

.matched-tag{
    padding:0;
    margin:0;
}

#search-wrapper{
    padding-left:10px
}

#search-list{
    margin:30px
}

#search-list{
    position:absolute;
    background-color:rgba(250, 250, 250, 0.96);
    padding: 0 10px;
    top:58px;
    left:-20px;
    width:82%;
}

#search-list p:hover{
    background-color:white
}

#search-list p{
    margin:1px;
    cursor:default;
    font-size:13px
}


#search-list h4{
    margin:10px 0 0;
    font-size:13px
}

.user-feedslist-inner .feed, .user-taskslist-inner .task{
    background-color:#f3f3f3; 
    margin:0
}

.user-feedslist-inner > div, .user-taskslist-inner > div {
    background-color:#ddd;
    padding:10px 10px 5px;
    margin:2px
}

.user-taskslist-inner > div {
    padding-left: 31px
}

.feed:nth-child(2), .task:nth-child(1){
    margin-top:10px
}

input.feed-tag-checkbox{
    margin-right:8px
}

.task div{
    display:inline-block;
    box-sizing: border-box;
}
 .user-taskslist-inner > div {
    background-color:#c6c6c6;
}

.task-name{
    min-width:150px;
    width:30%
}

.task-processlist{
    min-width:300px;
    width:30%
}
.task-frequency{
    min-width:120px;
    width:20%;
    margin: 0 15px
}
.task-enabled{
min-width:10px;
width:8%;
    }

#task-actions{
    width:8%;
    text-align:right
}
#task-actions div{
   margin:0 5px;
}